<div class="white-bar">
    <img id="logo" src="../../../../assets/images/s-logo.jpg"/>
    <h2>Shopéame!</h2>
</div>
<div class="menu-bar">
    <ul>
        <a class="menu-bar__container" id="home-link" routerLink="/home" routerLinkActive="selected" >
            <img class="menu-bar__logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Home-icon.svg/800px-Home-icon.svg.png"/>
            <p>Home</p>
        </a>
        <a class="menu-bar__container" id="products-link" routerLink="productos" routerLinkActive="selected" >
            <img class="menu-bar__logo" src="https://cdn-icons-png.flaticon.com/512/1/1560.png"/>
            <p>List</p>
        </a>
        <a class="menu-bar__container" id="options-link" routerLink="new-item" routerLinkActive="selected"  >
            <img class="menu-bar__logo" src="https://cdn-icons-png.flaticon.com/512/61/61094.png"/>
            <p>New</p>
        </a>
    </ul>
</div>